//colors 
$background-color:#FAFAFA;
$header-color:#28283D;
$text-color:#87879D;
$default-blue:#4D96A9;
$hover-blue:#71C0D4;
$default-purple:#855FB1;
$hover-purple:#B18BDD;
$hover-purple-f:#D9B8FF;
$accent:#8FE3F9;
$light-grey:#D8D8D8;
$num-color:#87879D;

//Typography
$main-font:'Red Hat Display', sans-serif;
$black:900;
$medium:500;