@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@import 'config';
@import 'buttons';


//Reset
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:$main-font;
    background-color:$background-color;
}
//START OF HEADER SECTION FROM TOP TO BOTTOM
header{
    padding-bottom:4rem;
    height:auto;

.logo{
    text-align:center;
    padding-top:5rem;
}
//START OF HERO
.hero{
    padding-top:3.8rem;
    display:flex;
    justify-content: space-between;

    .content{
        width:33.7rem;
        height:19rem;
        text-align:center;

        h1{
            font-size:4rem;
            line-height:4rem;
            width:27.8rem;
            margin:0 auto;
            color:$header-color;
            padding-bottom:2.1rem;
        }

        p{
            padding-bottom:2rem;
            color:$text-color;
            line-height:1.6rem;
            font-weight:$medium;
            font-size:1.1rem;
        }
    }

    .buttons{
        margin:0 auto;


        .btn-pri{
            margin-right:1rem;
            
            span{
                color:$accent;
            }
        }
    }
}
//END OF HERO SECTION

//DIVIDER (LINE AND NUMBER)
    .divider{
        padding-top:6.56rem;
        margin:0 auto;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

        .line{
            border-left:1px solid $light-grey;
            height:84px;
            width:0px;
        }

        .circle{
            border:1px solid $light-grey;
            border-radius:50%;
            margin:0 auto;
            width:56px;
            height:56px;
            display:flex;
            align-items: center;
            justify-content: center;

            .num{
                color:$num-color;
                font-weight:$black;
            }
        }
    }
}
//END OF HEADER SECTION

//Start of Section

section{
    text-align:center;

    .container {
        margin-bottom:5rem;

        .images{
            display:grid;
            grid-template-columns:repeat(4,1fr);
            max-width:1110px;
            margin:0 auto;

            .img{
                width:255px;
                height:242px;
                border-radius:10px;
            }
        }
    }

    .sct-content{
        margin:0 auto;
        width:540px;

        .small-head{
            color:$default-blue;
            text-transform:uppercase;
            font-weight:$black;
            font-size:1rem;
            letter-spacing:0.25rem;
            margin-bottom:1rem;
        }

        h2{
            font-size:2.5rem;
            color:$header-color;
            width:445px;
            margin-bottom:2rem;
        }

        p{
            width:540px;
            text-align:center;
            color:$text-color;
            font-size:1.1rem;
            font-weight:$medium;
            margin-bottom:4.5rem;
        }
    }
}